raspi-data-base_sensors/database/.env
raspi-data-base_sensors/truncate.sql
web-interface/databases/.env
web-interface/databases/cadfrunze-raspi-firebase-adminsdk-fbsvc-c9ccd27771.json
web-interface/databases/__pycache__/found_ip.cpython-313.pyc
web-interface/model/.env
