<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Monitorizare in mod grafic de pe Raspberry Pi</title>
    </head>
    <body>
        <h1>Panou de control Raspberry Pi</h1>

    <div class="button-group">
        <form action="/istoric" method="get">
            <button type="submit">Afiseaza Grafic (baza de date)</button>
        </form>

        <button type="button" onclick="loadScript()">Ruleaza  DEMO script Raspberry Pi</button>

        <form action="/adresa" method="get">
            <button type="submit">Adresa web</button>
        </form>

        <form action="/router" method="get">
            <button type="submit">Router</button>
        </form>
</div>

    <div id="script-container">
        <button type="button" onclick="startScript()"> Start Script</button>
        <button type="submit" id="but-stop-script" onclick="stopScript()"> Stop Script</button>
        
    </div>
    <div id="grafic-wrapper">
            <img id="senzori-img" src="" alt="Graficul senzorilor">
    </div>

    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>







</html>