<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Monitorizare in mod grafic de pe Raspberry Pi</title>
    </head>
    <body>
        <h1>Panou de control Raspberry Pi</h1>

    <div class="button-group">
        <form action="/istoric" method="get">
            <button type="button" onclick="loadIstoric()">Afiseaza Grafic (baza de date)</button>
        </form>

        <button type="button" onclick="loadScript()">Ruleaza script Raspberry Pi</button>

        <form action="/adresa" method="get">
            <button type="submit">Adresa web</button>
        </form>

        <form action="/router" method="get">
            <button type="submit">Router</button>
        </form>
</div>

    <div id="istoric-container">
        <div class="istoric-row">
            <label for="ziua1">Ziua de la:</label>
            <select name="ziua1" id="ziua1" onchange="loadOre()"></select>

            <label for="ora1">Ora de la:</label>
            <select name="ora1" id="ora1"></select>
        </div>

        <div class="istoric-row">
            <label for="ziua2">Până la ziua:</label>
            <select name="ziua2" id="ziua2" onchange="loadOre()"></select>

            <label for="ora2">Până la ora:</label>
            <select name="ora2" id="ora2"></select>
        </div>
        <button type="submit" onclick="afisareGrafic()">Afiseaza Grafic</button>
        <div id="grafic-wrapper">
            <img id="grafic-img" src="" alt="Graficul baza de date">
        </div>
        
    </div>

    <div id="script-container">
        <button type="submit" onclick="startScript()"> Start Script</button>
        <button type="submit" id="but-stop-script" onclick="stopScript()"> Stop Script</button>
        <div id="grafic-wrapper">
            <img id="senzori-img" src="" alt="Graficul senzorilor">
        </div>
    </div>

    

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>







</html>