<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>Monitorizare in mod grafic de pe Raspberry Pi</title>
    </head>
    <body>
        <h1>Panou de control Raspberry Pi</h1>

    <div class="button-group">
        <form action="/istoric" method="get">
            <button type="button" onclick="loadIstoric()">Istoric</button>
        </form>

        <form action="/ruleaza" method="post">
            <button type="submit">Rulează script</button>
        </form>

        <form action="/adresa" method="get">
            <button type="submit">Adresă web</button>
        </form>

        <form action="/router" method="get">
            <button type="submit">Router</button>
        </form>
</div>

    <div id="istoric-container">
        <form>
            <label for="ziua1">Selectează ziua de la data de:</label>
            <select name="ziua1" id="ziua1" onchange="loadOre()"></select>
            <br><br>
            <label for="ora1">Selecteaza de la ora</label>
            <select name="ora1" id="ora1"></select>
            <br><br>
        </form>
        <form>
            <label for="ziua2">Selectează ziua pana la data de:</label>
            <select name="ziua2" id="ziua2" onchange="loadOre()"></select>
            <br><br>
            <label for="ora2">Selecteaza pana la ora</label>
            <select name="ora2" id="ora2" onchange="loadOre()"></select>
            <br><br>
        </form>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>







</html>